.vertical-4 {
  border-right: 2px solid #b1bdc5;
  height: calc(100vh - 71px);
  background-color: #b1bdc5;
}

.vertical-8 {
  background-color: #dadde2;
}

.button {
  background-color: #d8d6e6;
  border: px solid #fef6ff;
  margin-top: 10%;
  cursor: pointer;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-bottom: 20%;
}
